<div class="container">
  <h1 class="my-5">
    Bonjour {{account$.firstName}} {{account$.lastName}}
  </h1>
  <p class="mb-3">
    Vous êtes sur le site de gestion d'absence de l'entreprise
    DIGINAMIC.
  </p>
  <p></p>
  <p>Voici les différents onglets :</p>
  <ul>
    <li>
      <span class="fst-italic">Gestion des absences</span> :
      Demande, modification et suppression des absences
    </li>
    <li>
      <span class="fst-italic">Planning des absences</span> :
      Calendrier récapitulatif de vos absences et jours fériés
    </li>
    <li>
      <span class="fst-italic">Validation demandes</span>
      : Valider les demandes de congés de vos collaborateurs
    </li>
    <li>
      <span class="fst-italic">Vues synthétiques</span>
      : Visualiser les rapports vue par département et par jour et Histogramme par département et par jour
    </li>
    <li>
      <span class="fst-italic">Jours fériés</span> : Liste des
      jours fériés et RTT employeurs
    </li>
  </ul>
</div>
