<div class="text-center">
  <h1>Connexion</h1>
  <img
    class="mb-4"
    src="assets\favicon.png"
    alt="cloud"
    width="72"
    height="72"
  />
  <form #formCtrl="ngForm" class="form-signin">
    <div class="form-group p-10">
      <label for="email" class="d-none">Email</label>
      <input
        name="email"
        required
        #emailCtrl="ngModel"
        [(ngModel)]="getCompte.email"
        type="email"
        class="form-control form-control-lg border-3 p-10 m-2 rounded-3"
        id="email"
        autocomplete="on"
        placeholder="Email address"
      />
    </div>
    <div class="form-group">
      <label for="password" class="d-none">Mot de passe</label>
      <input
        name="password"
        required
        #passwordCtrl="ngModel"
        [(ngModel)]="getCompte.password"
        type="password"
        class="form-control form-control-lg border-3 p-10 m-2 rounded-3"
        id="password"
        placeholder="Password"
      />
    </div>
    <button
      [disabled]="formCtrl.invalid"
      (click)="submit()"
      class="btn btn-lg btn-primary btn-block border-3 p-10 m-2 rounded-3"
    >
      Se connecter
    </button>
  </form>
  <p *ngIf="isError" role="alert" class="alert alert-danger m-3">
    {{errorMsg$}}
  </p>
</div>
